/*Reset*/
*{
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
}

body{
    min-width: 72rem;
}

h1,h2,h3,h4,h5{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}
/*Reset*/


/*CUERPO JUEGO*/

main{
    height: 100vh;
 
    /*background-color: red;*/
    background-color: lightblue;
 
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content auto;
}

#title{
    font-family: "Micro 5";
    text-align: right;
    font-size: 2rem;

    padding-right: 3em;
    grid-column-start: 1;
    grid-column-end: 4;
}

#gamePlayContainer{
    min-width: 400px;
    /*height: auto;*/
    padding: 16px;
}

.cardsContainer{
    max-width: 70rem;
    min-width: 45.4rem;
    /*height: 19rem;*/
    margin: 16px auto;
    padding: 5px;

    /*background-color: lightcoral;*/

    display: flex;
    justify-content: space-evenly;
}

.cards{
    width: 11em;
    border-radius: 4%;

    background-image: url(../assets/images/anverso-tarot-card-f.webp);
    background-size: contain;
    background-position: center;
    position: relative;
}

.showCards{
    animation: rotatePlayCard 0.5s ease-in-out normal forwards;
}

.backCards{
    animation: reloadCards 0.5s ease-in-out normal forwards ;
}

.cardsContainer > p{
    text-align: center;
    writing-mode: sideways-lr;
    letter-spacing: 0.3em;
     
    font-size: 2.4rem;
    font-family: "Madimi One", Impact;
}

#player0::after{
    /*content: 'WINER!';*/
    display: block;
    color: lightslategray;
}

/*BOTONES JUEGO*/

.buttonsGame{
    padding: 0 2em 0;
    /*background-color: plum;*/
    
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 80px;
}

button{    
    width: 4em;
    height: 4em;

    border: none;
    outline: solid 2px silver;
    border-radius: 50%;
    background: linear-gradient(145deg, hsl(12, 76%, 49%), hsl(12, 77%, 39%));
    box-shadow: 16px 16px 20px #95bac6,
    -16px -16px 20px #c5f6ff;

    color: #DEFFD4;
    font-family: "Micro 5", Impact;
    font-size: 2rem;
}   

button:active{
    transform: scale(0.9) ;
}

@keyframes rotatePlayCard {
    to{
        transform: rotateY(180deg);
        
        background-image: none;
        background-color: linen;
    }
}

@keyframes reloadCards {
    from{
        background-image: none;
        background-color: linen;
    }
    to{
        transform: rotateY(-180deg);
    }
}



